version: "3"

services:
  app:
    build:
      context: .
      args:
        DEV: "true"
    environment:
      - PYTHONPATH=/app
    ports:
      - "8080:8080"
    env_file:
        - path: ./.env
          required: true
    command: uvicorn main:app --reload --host 0.0.0.0 --port 8080
    volumes:
      - ./app:/app
    depends_on:
      - db
    links:
      - db
    working_dir: /

volumes:
  postgres_data: